<div class="aboutme-container" id="aboutMe">
  <div>
    <h2>About me</h2>
    <span>
      <p>I am a Front-end deverloper based in Osnabrück, Germany. I help designers and companies to bring  their ideas to real life.  Creativity and logical thinking are skills that I have developed to connect ideas into quality products.</p>
      <br>
      <p>If you think I'd be a good match for your projects, contact me!</p>
    </span>
    <div><button><a href="">Let's talk</a></button></div>
  </div>
  <div>
    <img src="./assets/img/profile/wladimir-lange.1024x1024.jpg" alt="PROFILEPICTURE">
    <img src="./assets/img/profile/profile_rect.png" alt="RECTANGLE">
  </div>
</div>
