<div class="arrow-right-container"><img src="./assets/img/arrow/arrow_diag_down/arrow_d_left_0.png" style="padding-inline: 50px;" alt=""></div>

<div id="contact" class="contact-container">
  <h2>{{ 'SAY HI' | translate }}</h2>
  <div class="form-container">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
      <h3>{{ 'CONTACT HEADER' | translate }}</h3>
      <p>{{ 'CONTACT SUBHEADER' | translate }}</p>

      <div class="input-field">
        <input #name="ngModel" [(ngModel)]="formData.name" name="name" type="text" placeholder="{{ 'CONTACT NAME' | translate }}" minlength="5" required>
        <div>
          <span *ngIf="name.invalid && (name.dirty || name.touched)">{{ 'FORM NAME' | translate }}</span>
          <img src="./assets/icons/form/right.png" alt="RIGHT" *ngIf="name.valid">
          <img src="./assets/icons/form/alarm.png" alt="WRONG" *ngIf="name.invalid && (name.dirty || name.touched)">
        </div>
      </div>

      <div class="input-field">
        <input #email="ngModel" [(ngModel)]="formData.email" name="email" type="email" placeholder="{{ 'CONTACT MAIL' | translate }}" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
        <div>
          <span *ngIf="email.invalid && (email.dirty || email.touched)">{{ 'FORM MAIL' | translate }}</span>
          <img src="./assets/icons/form/right.png" alt="RIGHT" *ngIf="email.valid">
          <img src="./assets/icons/form/alarm.png" alt="WRONG" *ngIf="email.invalid && (email.dirty || email.touched)">
        </div>
      </div>

      <div class="text-field">
        <textarea #message="ngModel" [(ngModel)]="formData.message" name="message" placeholder="{{ 'CONTACT MESSAGE' | translate }}" minlength="10" required></textarea>
        <div>
          <span *ngIf="message.invalid && (message.dirty || message.touched)">{{ 'FORM MESSAGE' | translate }}</span>
          <img src="./assets/icons/form/right.png" alt="RIGHT" *ngIf="message.valid">
          <img src="./assets/icons/form/alarm.png" alt="WRONG" *ngIf="message.invalid && (message.dirty || message.touched)">
        </div>
      </div>

      <div class="privacy">
        <div>
          <div id="inputPreview">
            <input id="demo_opt_1" type="checkbox" class="css-checkbox" #privacy="ngModel" [(ngModel)]="formData.privacy" name="privacy" required>
            <label for="demo_opt_1"></label>
          </div>
          <span>{{ 'CONTACT PRIVACY 1' | translate }} <a [routerLink]="'/privacy-policy'">{{ 'CONTACT PRIVACY 2' | translate }}</a> {{ 'CONTACT PRIVACY 3' | translate }}</span>
        </div>
        <span *ngIf="privacy.invalid && (privacy.dirty || privacy.touched)">{{ 'FORM PRIVACY' | translate }}</span>
      </div>
      <button [ngClass]="{'disabled-button': contactForm.invalid}" [disabled]="contactForm.invalid">{{ 'CONTACT BTN' | translate }}</button>
    </form>

    <div class="popup-container" [ngClass]="{'show': contactForm.submitted}">
      <p>Thank's for your massage!</p>
      <p>I will contact you soon.</p>
    </div>
  </div>
</div>


