<div class="privacy-container">
  <div><h2>Privacy-policy</h2></div>

  <div>
        1. Data protection at a glance
    General information
    The following information provides a simple overview of what happens to your personal data
    happens when you visit this website. Personal data is all data with which you
    can be personally identified. Detailed information on the subject of data protection can be found here
    Please refer to our data protection declaration listed below this text.
    Data collection on this website
    Who is responsible for data collection on this website?
    Data processing on this website is carried out by the website operator. His contact details
    can be found in the “Notice on the responsible body” section in this data protection declaration.
    How do we collect your data?
    On the one hand, your data is collected when you provide it to us. This can be e.g. B. around
    act on data that you enter into a contact form.
    Other data is collected automatically or with your consent by our IT systems when you visit the website. These are primarily technical data (e.g. internet browser, operating system or time
    of the page view). This data is collected automatically as soon as you enter this website.
    What do we use your data for?
    Some of the data is collected to ensure that the website is provided error-free. Other
    Data can be used to analyze your user behavior.
    2/7
    What rights do you have regarding your data?
    You have the right to obtain information about the origin, recipient and purpose of your data free of charge at any time
    to receive stored personal data. You also have the right to request correction or
    to request deletion of this data. If you have given your consent to data processing,
    You can revoke this consent at any time in the future. You also have the right to
    to request the restriction of the processing of your personal data in certain circumstances.
    You also have the right to lodge a complaint with the responsible supervisory authority.
    You can contact us at any time about this or if you have any further questions about data protection.

    2. Hosting
We host the content of our website with the following provider:
Strato
The provider is Strato AG, Otto-Ostrowski-Straße 7, 10249 Berlin (hereinafter “Strato”). If you use our
When you visit the website, Strato collects various log files including your IP addresses.
Further information can be found in Strato's privacy policy:
https://www.strato.de/datenschutz/.
The use of Strato is based on Article 6 Paragraph 1 Letter f GDPR. We have a legitimate one
Interested in making our website as reliable as possible. If there is an appropriate one
If consent has been requested, processing is carried out exclusively on the basis of Article 6 Paragraph 1 Letter a
GDPR and Section 25 Paragraph 1 TDDDG, insofar as consent requires the storage of cookies or access to them
Information in the user's end device (e.g. device fingerprinting) within the meaning of the TDDDG. The
Consent can be revoked at any time.
3. General information and mandatory information
data protection
The operators of these sites take the protection of your personal data very seriously. We'll treat yours
personal data confidential and in accordance with statutory data protection regulations
this data protection declaration.
When you use this website, various personal data is collected.
Personal data is data that can be used to personally identify you. The present
Data protection declaration explains what data we collect and what we use it for. She also explains how
and for what purpose this is done.
We would like to point out that data transmission on the Internet (e.g. when communicating via email)
may have security gaps. There is no complete protection of data against access by third parties
possible.

Note on the responsible body
The responsible body for data processing on this website is:
<p>Wladimir Wagner</p>
<p>Rotenburger Straße 8b</p>
<p>49084 Osnabrück</p>

<h3>Contact</h3>

<p>Telephone: +49 171/5683566</p>
<p>Email: wladimir.lange&#64;protonmail.de</p>

The responsible body is the natural or legal person who alone or jointly with others
the purposes and means of processing personal data (e.g. names, email addresses, etc.)
decides.
Storage period
Unless a specific storage period has been stated within this data protection declaration, data will remain
Your personal data with us until the purpose for data processing no longer applies. If you have a
assert a legitimate request for deletion or revoke consent to data processing,
Your data will be deleted unless we have other legally permissible reasons for storing it
have personal data (e.g. retention periods under tax or commercial law); in the
In the latter case, deletion takes place after these reasons no longer apply.
General information on the legal basis for data processing on this page
website
If you have consented to data processing, we will process your personal data
Basis of Art. 6 Para. 1 lit. a GDPR or Art. 9 Para. 2 lit. a GDPR, if special data categories
processed in accordance with Article 9 Para. 1 GDPR. In the event of express consent to the transfer
Personal data in third countries is also processed on the basis of Art.
49 Paragraph 1 Letter a GDPR. If you consent to the storage of cookies or access to information in
If you have given your consent to your device (e.g. via device fingerprinting), data processing will take place additionally
based on Section 25 Paragraph 1 TDDDG. Consent can be revoked at any time. Are your data available?
If necessary to fulfill the contract or to carry out pre-contractual measures, we process your data
Data based on Article 6 Paragraph 1 Letter b GDPR. Furthermore, we process your data if it is
are necessary to fulfill a legal obligation based on Art. 6 Para. 1 lit. c GDPR.
Data processing can also be carried out on the basis of our legitimate interest in accordance with Art. 6 Para. 1 lit. f
GDPR. The relevant legal bases in each individual case are discussed below
paragraphs of this data protection declaration.

Recipients of personal data
As part of our business activities, we work with various external bodies. Included
In some cases, personal data must also be transmitted to these external bodies.
We only pass on personal data to external parties if this is part of a
Fulfillment of the contract is necessary if we are legally obliged to do so (e.g. passing on data
to tax authorities) if we have a legitimate interest in passing on data in accordance with Article 6 Paragraph 1 Letter f of the GDPR
or if another legal basis allows the data to be passed on. When using
We only provide data processors with our customers' personal data on the basis of a valid
contract for order processing. In the case of joint processing, a contract is concluded
joint processing closed.
Revocation of your consent to data processing
Many data processing operations are only possible with your express consent. You can ... a
You can revoke consent that has already been given at any time. The legality of what took place until revocation
Data processing remains unaffected by the revocation.
Right to object to data collection in special cases and against
Direct advertising (Art. 21 GDPR)
 4/7
IF THE DATA PROCESSING IS BASED ON ART. 6 ABS. 1 LITER. E OR F GDPR
IF THIS HAPPENS, YOU HAVE THE RIGHT AT ALL TIMES FOR REASONS ARISING FROM YOUR PARTICULAR
SITUATION ARISE AGAINST THE PROCESSING OF YOUR PERSONAL DATA
TO OBJECT; THIS ALSO APPLIES TO ANY BASED ON THESE TERMS
PROFILING. THE RESPECTIVE LEGAL BASIS ON WHICH PROCESSING IS BASED
READ THIS PRIVACY POLICY. IF YOU OBJECT,
WE WILL NO LONGER PROCESS YOUR AFFECTED PERSONAL DATA
UNLESS WE CAN HAVE COMPLEX REASONS FOR PROCESSING THAT WOULD BE PROTECTED
EVIDENCE THAT OUTWEIGHES YOUR INTERESTS, RIGHTS AND FREEDOMS OR THAT
PROCESSING IS FOR THE ASSERTMENT, EXERCISE OR DEFENSE OF
LEGAL CLAIMS (OBJECTION PURSUANT TO ARTICLE 21 (1) GDPR).
WILL YOUR PERSONAL DATA BE PROCESSED TO OPERATE DIRECT ADVERTISING,
SO YOU HAVE THE RIGHT TO OBJECT TO THE PROCESSING OF YOU AT ANY TIME
SUCH PERSONAL DATA FOR THE PURPOSE OF SUCH ADVERTISING
TO INSERT; THIS ALSO APPLIES TO PROFILING TO THE EXTENT THAT SUCH DIRECT ADVERTISING IS INVOLVED
CONNECTED. IF YOU OBJECT, YOUR PERSONAL DATA WILL BE
THEN NO LONGER USED FOR DIRECT ADVERTISING PURPOSES (OBJECTION
IN STYLE OF. 21 ABS. 2 GDPR).

Right to lodge a complaint with the responsible supervisory authority
In the event of violations of the GDPR, those affected have the right to lodge a complaint with one
Supervisory authority, in particular in the Member State of your habitual residence or place of work
or the location of the alleged violation. The right to lodge a complaint exists without prejudice to anything else
administrative or judicial remedies.
Right to data portability
You have the right to receive data that we provide based on your consent or in the performance of a contract
process automatically, on your own or to a third party, in a common, machine-readable format
to be handed over. If you request the direct transfer of the data to another person responsible
request, this will only be done if it is technically feasible.
Information, correction and deletion
You have the right to free of charge at any time within the framework of the applicable legal provisions
Information about your stored personal data, their origin and recipients and the
Purpose of data processing and, if applicable, a right to correction or deletion of this data. On this as well
If you have any further questions on the subject of personal data, you can contact us at any time.
Right to restriction of processing
You have the right to request that the processing of your personal data be restricted.
You can contact us at any time about this. The right to restriction of processing exists
the following cases:
If you dispute the accuracy of your personal data held by us, we require
usually time to check this. For the duration of the examination, you have the right
To request restriction of the processing of your personal data.
If the processing of your personal data was/is occurring unlawfully, you can
request restriction of data processing instead of deletion.
If we no longer need your personal data but you want to use it to exercise your personal data,
If you need to defend or assert legal claims, you have the right instead
 5/7
Deletion to request the restriction of the processing of your personal data.
If you have lodged an objection in accordance with Article 21 Para. 1 GDPR, you must weigh up the following:
your and our interests. As long as it is not yet clear whose interests
outweigh, you have the right to restrict the processing of your personal data
to demand.

If you have restricted the processing of your personal data, this data may - from
apart from their storage - only with your consent or for the purpose of asserting, exercising or
Defending legal claims or protecting the rights of another natural or
legal entity or for reasons of important public interest of the European Union or
of a Member State are processed.
SSL or TLS encryption
This site uses for security reasons and to protect the transmission of confidential content, such as
For example, orders or inquiries that you send to us as the site operator require SSL or TLS encryption. You can recognize an encrypted connection by the fact that the address bar of the browser is from
“http://” changes to “https://” and the lock symbol in your browser line.
If SSL or TLS encryption is activated, the data you transmit to us cannot
be read by third parties.
4. Plugins and tools
Google Fonts (local hosting)
This site uses so-called Google Fonts, which are provided by Google, for the uniform display of fonts
to be provided. The Google Fonts are installed locally. Finds a connection to Google servers
does not take place.
For more information about Google Fonts, see
https://developers.google.com/fonts/faq and in Google's privacy policy:
https://policies.google.com/privacy?hl=de.
  </div>
</div>
