<footer>
  <div>
    <a href="index.html"><img src="./assets/icons/logo/logonew_black.png" alt=""></a>
    <span>© Copyright Wladimir Wagner</span>
  </div>
  <div>
    <a href="#start"><img src="./assets/img/arrow/arrow_up.png" alt="UP"></a>
    <div class="icons">
      <a href="https://github.com/WladimirWagner"><img src="./assets/icons/socials/git.png" alt="GIT"></a>
      <a href="mailto:contact@wladimir-wagner.com"><img src="./assets/icons/socials/mail.png" alt="MAIL"></a>
      <a href="https://www.linkedin.com/in/wladimir-lange-1145012b6/"><img src="./assets/icons/socials/linked.png" alt="LINKEDIN"></a>
    </div>
    <div class="links">
      <a [routerLink]="'/imprint'">{{ 'IMPRINT' | translate }}</a>
    </div>
  </div>
</footer>